.app {
  padding: 50px;
}

.activity-list {
  display: flex;
  color: white;
}

.activity-list__item,
.activity-list__item-add {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 250px;
  padding: 40px 20px 40px;
  margin-right: 30px;
  background-color: #282828;
  border-radius: 40px;
  box-sizing: border-box;
  cursor: pointer;

}

.activity-list__item {
  position: relative;
  justify-content: space-between;
}

.activity-list__item-edit {
  position: absolute;
  right: 10px;
  top: 10px;
  /* display: none; */
}

/*
.activity-list__item:hover .activity-list__item-edit {
  display: block;
  cursor: pointer;
} */